<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
      #sign{
        width: 38%;
        height: 410px;
        background-image: linear-gradient(to right, rgb(230, 208, 208) , rgb(187, 118, 118));
        border-radius: 20px;
        margin: 120px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      }

      #signbtn:hover{
        color: white  !important;
        background-color: rgb(184, 137, 137)!important;
      }
    </style>
</head>
<body style="background-image: linear-gradient(to right,rgb(187, 118, 118) ,rgb(230, 208, 208) , rgb(187, 118, 118));">
    <center><div class="container ">
        <div class="row">
            <div class="card " id="sign">
                <center><h2 style="padding-top: 10px;"><b>Sign Up</b></h2></center>
            <form action="" style="margin-top: 40px;" method="post">
                {% csrf_token %}
                 <center><label for=""><b>Full Name</b></label>
                    &nbsp;&nbsp;&nbsp;<input type="text" placeholder="&nbsp;Enter fullname" name="signname" style="border: none; border-bottom: 1px solid maroon; border-radius: 4px; height: 23px; width: 45%;"></center> <br> 
                    <center><label for=""><b>&nbsp;&nbsp;Email </b></label>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="signemail" placeholder="&nbsp;Enter email" style="border: none; border-bottom: 1px solid maroon; border-radius: 4px; height: 23px; width: 45%;"></center> <br>
                    <center><label for=""><b>Password</b></label>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="password" name="signpass" placeholder="&nbsp;Enter password" style="border: none; border-bottom: 1px solid maroon; border-radius: 4px; height: 23px; width: 45%;"></center> <br>
                <label for=""><b>Confirm Password</b></label>
                    &nbsp;<input type="password" name="signconpass" placeholder="&nbsp;Confirm password" style="border: none; border-bottom: 1px solid maroon; border-radius: 4px; height: 23px; width: 45%;"><br> <br>
                    <span style="margin-right: 180px;"><input type="checkbox">&nbsp;By signing up you accept the <span style="color: brown;"><b>Terms of service</b><br></span> and <span style="color: brown;"><b>Privacy Policy</b></span> </span> <br> <br>
                    <button type="submit" id="signbtn" style="width: 150px; height: 32px; border-radius: 8px; background-color: rgb(153, 82, 82); color: white; border:none;"><b>Sign Up</b></button> <br><br>

                    <p>Already have an account ? <span><a href="{% url 'login' %}"style=" text-decoration: none; color: brown;"><b>Log In</b></a></span></p>

                </form>
            </div>
        </div>
    </div></center>
    
</body>
</html>