<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
            <label for="">Category :</label>
            <select name="category" >
                {% for i in cat_value %}
               <option value="{{i}}">{{i}}</option>
               {%endfor%}
            </select> <br><br>
        <label for="">imgg :</label>
        <input type="file" name="imgg"><br> <br>
        <label for="">prodname :</label>
        <input type="text" name="prodname" value="{{form.prodname.value}}"> <br> <br>
        <label for="">prodprice :</label>
        <input type="text" name="prodprice" value="{{form.prodprice.value}}"> <br> <br>
        <label for="">Description :</label>
        <textarea name="desc" value="{{form.desc.value}}" ></textarea><br><br>
        <label for="">img1 :</label>
        <input type="file" name="imgone"><br><br>
        <label for="">img2 :</label>
        <input type="file" name="imgtwo"><br><br>
        <button type="submit">Submit</button>
    </form>
</body>
</html>